# Django мусор
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (САМОЕ ВАЖНОЕ)
venv/
env/

# База данных (обычно её не коммитят, но для диплома можешь убрать эту строку, если хочешь хранить юзеров в гите)
db.sqlite3

# Папки медиа (куда грузятся ЭКГ)
media/
!media/.gitkeep

# Большие файлы ИИ (чтобы GitHub не ругался на размер >100МБ)
# Если твой .pth меньше 100МБ, можешь закомментировать строку ниже знаком #
*.pth
*.npz

# VS Code настройки
.vscode/