.patients-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search-box {
    position: relative;
    width: 300px;
}

.search-box input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border: 1px solid #2a2a2a;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
}

.search-box input:focus {
    border-color: #ff0062;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}

.btn-add {
    background: #FF3B5C;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-add:hover {
    background: #ab2138;
}

/* Таблица */
.table-container {
    background: #1a1a1a;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 15px;
    color: #6c757d;
    font-weight: 600;
    border-bottom: 2px solid #f0f4f8;
}

td {
    padding: 15px;
    border-bottom: 1px solid #f0f4f8;
    color: #ffffff;
    vertical-align: middle;
}

tr:last-child td {
    border-bottom: none;
}

.gender-badge {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: 600;
}

.gender-m {
    background: #b1deff;
    color: #0067FF;
}

.gender-f {
    background: #ffb4cd;
    color: #FF3B5C;
}

.action-btn {
    padding: 5px 10px;
    border-radius: 8px;
    color: #FF3B5C;
    text-decoration: none;
    transition: background 0.2s;
}

.action-btn:hover {
    background: #FF3B5C;
    color: #ffffff;
}

/* МОДАЛЬНОЕ ОКНО */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    /* Скрыто по умолчанию */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.modal-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.3s ease;
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #adb5bd;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #666;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}